.cards__card {
  min-height: 281px;
  max-width: 364px;
}

.cards__description {
    display:flex;
    margin: 16px 0 0 0;
}
.cards__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  margin:0;
  padding:0;
}

.cards__like {
  background-image: url(../../images/like.svg);
  height: 19px;
  width: 22px;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: black;
  outline: none;
  color: aqua;
  margin-left:auto;
}

.cards__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cards__movie-duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #8B8B8B;
  margin:17px 0 0 0;
}
