.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.register__container {
  display: flex;
  flex-direction: column;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.register__input_login {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  border: none;
  background: #2f2f2f;
  padding: 15px;
  color: white;
  max-width: 410px;
}

.register__input_login:first-of-type {
  margin-bottom: 20px;
}

.register__button {
  background-color: #4285f4;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  color: white;
  border: none;
  margin-top:179px;
}

.register__button_disabled {
  background-color: #4285f4;
  opacity:0.4;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  color: white;
  border: none;
  margin-top:91px;
}

.register__wrapper {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.register__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #8b8b8b;
  margin: 0 6px 0 0;
}

.register__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
}

.register__error {
  color: red;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  display: block;
  max-width: 396px;
  margin: 0;
  padding: 0;
}

.register__link:hover {
  color: #8b8b8b;
}

@media screen and (max-width: 984px) {
  .login {
    margin-top: 232px;
  }
  .register__input_login {
    max-width: 396px;
  }
  .register__error {
    max-width: 396px;
  }
}

@media screen and (max-width: 628px) {
  .register__button {
    width: 260px;
    height: 45px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 267px;
  }

  .login {
    margin-top: 56px;
    align-items: center;
  }

  .register__link {
    margin-bottom: 30px;
  }
  .register__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
  }
  .register__input_login {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 260px;
  }

  .register__label {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }

  .register__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }

  .register__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
  .register__error {
    max-width: 260px;
  }
}
